@page "/gamehistory"
@page "/gamehistory/{user}"
@using Shared.Models
@using Shared.Models.MongoDB;
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h2>Match History:</h2>
    <br />
            @if (GetGames() != null)
        {
            @foreach (Game game in GetGames())
            {

                        @if (game != null)
                        {
                            @if (game.player2 == null)
                            {
                                <a href="/analysisboard/@(game.Id)">Local Game on @(game.date) (@(game.Result()))</a>
                            }
                            else
                            {
                                <a href="/analysisboard/@(game.Id)">Online vs @(game.player2) on @(game.date) (@(game.Result()))</a>
                            }
                        }
                        <br />

            }
        }
    @code {
        [Parameter]
        public string user { get; set; }
        private List<Game> games;


        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            user = (await Globals.GetUser(localStorage)).name;
            IUser userInstance = UserDBInterface.GetUser(user);

            games =  GameDBInterface.GetGameList(userInstance);
        }

        private List<Game> GetGames()
        {
            IUser userInstance = UserDBInterface.GetUser(user);
            games = GameDBInterface.GetGameList(userInstance);
            return games;
        }

        private void Navigate()
        {

        }
    }
